fram-test-flow.json
[
    {
        "id": "fram-test-flow",
        "type": "tab",
        "label": "FRAM Advanced Test",
        "disabled": false,
        "info": "Testing the enhanced FRAM node with interpretation profiles and advanced features"
    },
    {
        "id": "fram-node",
        "type": "fram",
        "z": "fram-test-flow",
        "name": "Advanced FRAM Test",
        "functionName": "Industrial_Control_System",
        "interpretationProfile": "technological",
        "variabilityMode": "normal",
        "timeConstraint": "100ms",
        "resourceThreshold": 80,
        "enableResonance": true,
        "enableMetadata": true,
        "advancedAnalysis": true,
        "standardizedReporting": true,
        "hierarchicalGroup": "Control_System",
        "ontologyMapping": {
            "input": "sensor_data_concept",
            "resources": "processing_resource_concept",
            "control": "automation_control_concept"
        },
        "x": 400,
        "y": 200,
        "wires": [["output-debug"]]
    },
    {
        "id": "input-inject",
        "type": "inject",
        "z": "fram-test-flow",
        "name": "Input Data",
        "props": [
            {
                "p": "payload",
                "v": "{\"temperature\":45.2,\"pressure\":2.1,\"flow_rate\":150.5}",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "input_sensor",
                "vt": "str"
            },
            {
                "p": "framAspect",
                "v": "input",
                "vt": "str"
            },
            {
                "p": "metadata",
                "v": "{\"sensorType\":\"industrial_grade\",\"accuracy\":\"±0.1%\",\"hierarchicalGroup\":\"Control_System\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 120,
        "wires": [["fram-node"]]
    },
    {
        "id": "preconditions-inject",
        "type": "inject",
        "z": "fram-test-flow",
        "name": "Preconditions",
        "props": [
            {
                "p": "payload",
                "v": "{\"system_status\":\"operational\",\"safety_interlocks\":\"enabled\",\"calibration_valid\":true}",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "precondition_system_ready",
                "vt": "str"
            },
            {
                "p": "framAspect",
                "v": "preconditions",
                "vt": "str"
            },
            {
                "p": "metadata",
                "v": "{\"systemCertification\":\"ISO_9001\",\"safetyClearance\":\"level_3\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 160,
        "wires": [["fram-node"]]
    },
    {
        "id": "resources-inject",
        "type": "inject",
        "z": "fram-test-flow",
        "name": "Resources",
        "props": [
            {
                "p": "payload",
                "v": "{\"cpu_usage\":35,\"memory_usage\":42,\"network_bandwidth\":850}",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "resource_processing_power",
                "vt": "str"
            },
            {
                "p": "framAspect",
                "v": "resources",
                "vt": "str"
            },
            {
                "p": "metadata",
                "v": "{\"systemLoad\":\"normal\",\"redundancyLevel\":\"triple\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 200,
        "wires": [["fram-node"]]
    },
    {
        "id": "time-inject",
        "type": "inject",
        "z": "fram-test-flow",
        "name": "Time",
        "props": [
            {
                "p": "payload",
                "v": "{\"cycle_time\":\"100ms\",\"max_latency\":\"50ms\",\"real_time_priority\":true}",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "timing_control",
                "vt": "str"
            },
            {
                "p": "framAspect",
                "v": "time",
                "vt": "str"
            },
            {
                "p": "metadata",
                "v": "{\"timingCriticality\":\"high\",\"jitterTolerance\":\"±5ms\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 240,
        "wires": [["fram-node"]]
    },
    {
        "id": "control-inject",
        "type": "inject",
        "z": "fram-test-flow",
        "name": "Control",
        "props": [
            {
                "p": "payload",
                "v": "{\"control_mode\":\"automatic\",\"operator_override\":false,\"safety_level\":\"normal\"}",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "control_parameters",
                "vt": "str"
            },
            {
                "p": "framAspect",
                "v": "control",
                "vt": "str"
            },
            {
                "p": "metadata",
                "v": "{\"controlAuthority\":\"automated_system\",\"emergencyProtocols\":\"active\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 280,
        "wires": [["fram-node"]]
    },
    {
        "id": "output-debug",
        "type": "debug",
        "z": "fram-test-flow",
        "name": "FRAM Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "test-sequence",
        "type": "inject",
        "z": "fram-test-flow",
        "name": "Run Test Sequence",
        "props": [
            {
                "p": "payload",
                "v": "test",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 360,
        "wires": [["test-function"]]
    },
    {
        "id": "test-function",
        "type": "function",
        "z": "fram-test-flow",
        "name": "Test Sequence",
        "func": "// Automated test sequence for FRAM node\nvar delay = 500; // 500ms delay between inputs\n\n// Input data\nsetTimeout(() => {\n    node.send({\n        payload: {\"temperature\":45.2,\"pressure\":2.1,\"flow_rate\":150.5},\n        topic: \"input_sensor\",\n        framAspect: \"input\",\n        metadata: {\"sensorType\":\"industrial_grade\",\"accuracy\":\"±0.1%\",\"hierarchicalGroup\":\"Control_System\"}\n    });\n}, delay);\n\n// Preconditions\nsetTimeout(() => {\n    node.send({\n        payload: {\"system_status\":\"operational\",\"safety_interlocks\":\"enabled\",\"calibration_valid\":true},\n        topic: \"precondition_system_ready\",\n        framAspect: \"preconditions\",\n        metadata: {\"systemCertification\":\"ISO_9001\",\"safetyClearance\":\"level_3\"}\n    });\n}, delay * 2);\n\n// Resources\nsetTimeout(() => {\n    node.send({\n        payload: {\"cpu_usage\":35,\"memory_usage\":42,\"network_bandwidth\":850},\n        topic: \"resource_processing_power\",\n        framAspect: \"resources\",\n        metadata: {\"systemLoad\":\"normal\",\"redundancyLevel\":\"triple\"}\n    });\n}, delay * 3);\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 360,
        "wires": [["fram-node"]]
    }
]