fram_subflow/subflow.json
{
    "id": "8f9decde92586ecc",
    "type": "subflow",
    "name": "FRAM_Switch",
    "info": "",
    "category": "",
    "in": [
        {
            "x": 40,
            "y": 200,
            "wires": [
                {
                    "id": "5aaa646ed98206cb"
                }
            ]
        }
    ],
    "out": [],
    "env": [],
    "meta": {
        "module": "fram_subflow",
        "type": "fram",
        "version": "0.0.1",
        "author": "cgoudouris",
        "desc": "Fram node test",
        "keywords": "node-red-fram",
        "license": "Apache-2.0"
    },
    "color": "#DDAA99",
    "flow": [
        {
            "id": "5aaa646ed98206cb",
            "type": "switch",
            "z": "8f9decde92586ecc",
            "name": "",
            "property": "_input",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "input",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "time",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "control",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "resources",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "precondition",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 5,
            "x": 150,
            "y": 200,
            "wires": [
                [
                    "39ee4d871d14da41"
                ],
                [
                    "bc49471fa01dc7aa"
                ],
                [
                    "688120e2bc452391"
                ],
                [
                    "75ac6d1bd5548fe9"
                ],
                [
                    "f1d75e7f4bbf29a0"
                ]
            ]
        },
        {
            "id": "39ee4d871d14da41",
            "type": "Connector",
            "z": "8f9decde92586ecc",
            "name": "Input",
            "x": 350,
            "y": 120,
            "wires": [
                [
                    "117f60d8cd8ceaa5"
                ]
            ]
        },
        {
            "id": "bc49471fa01dc7aa",
            "type": "Connector",
            "z": "8f9decde92586ecc",
            "name": "Time",
            "x": 350,
            "y": 160,
            "wires": [
                []
            ]
        },
        {
            "id": "688120e2bc452391",
            "type": "Connector",
            "z": "8f9decde92586ecc",
            "name": "Control",
            "x": 360,
            "y": 200,
            "wires": [
                [
                    "0aed163eeef82fa5"
                ]
            ]
        },
        {
            "id": "75ac6d1bd5548fe9",
            "type": "Connector",
            "z": "8f9decde92586ecc",
            "name": "Preconditions",
            "x": 380,
            "y": 240,
            "wires": [
                []
            ]
        },
        {
            "id": "f1d75e7f4bbf29a0",
            "type": "Connector",
            "z": "8f9decde92586ecc",
            "name": "Resources",
            "x": 370,
            "y": 280,
            "wires": [
                []
            ]
        },
        {
            "id": "117f60d8cd8ceaa5",
            "type": "debug",
            "z": "8f9decde92586ecc",
            "name": "Input debug",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 610,
            "y": 120,
            "wires": []
        },
        {
            "id": "0aed163eeef82fa5",
            "type": "debug",
            "z": "8f9decde92586ecc",
            "name": "Control debug",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 620,
            "y": 200,
            "wires": []
        },
        {
            "id": "59536c54988d133f",
            "type": "sub-link-output",
            "z": "8f9decde92586ecc",
            "inputs": 0,
            "name": "Time",
            "topicType": "string",
            "topic": "",
            "link": "fbc796b8f2781245",
            "hasdatainput": false,
            "priorityType": "num",
            "priority": "0",
            "aliasType": "string",
            "alias": "",
            "outputstat": "subData",
            "outputstatType": "string",
            "aliasMatchAll": false,
            "clone": false,
            "x": 170,
            "y": 360,
            "wires": [
                [
                    "ee8d85aa0c7310a1"
                ],
                [
                    "6b4804b5a82cd696"
                ]
            ]
        },
        {
            "id": "ee8d85aa0c7310a1",
            "type": "debug",
            "z": "8f9decde92586ecc",
            "name": "Time debug",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 450,
            "y": 360,
            "wires": []
        },
        {
            "id": "45d23acf43f296cd",
            "type": "sub-link-output",
            "z": "8f9decde92586ecc",
            "inputs": 0,
            "name": "Reources",
            "topicType": "string",
            "topic": "",
            "link": "b9a42f8868c5da6b",
            "hasdatainput": false,
            "priorityType": "num",
            "priority": "0",
            "aliasType": "string",
            "alias": "",
            "outputstat": "subData",
            "outputstatType": "string",
            "aliasMatchAll": false,
            "clone": false,
            "x": 160,
            "y": 460,
            "wires": [
                [
                    "867e12077ac180f3"
                ],
                []
            ]
        },
        {
            "id": "867e12077ac180f3",
            "type": "debug",
            "z": "8f9decde92586ecc",
            "name": "Resources debug",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 410,
            "y": 480,
            "wires": []
        },
        {
            "id": "6b4804b5a82cd696",
            "type": "debug",
            "z": "8f9decde92586ecc",
            "name": "Second output",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 460,
            "y": 400,
            "wires": []
        },
        {
            "id": "fbc796b8f2781245",
            "type": "sub-link-config",
            "name": "Time",
            "clone": false
        },
        {
            "id": "b9a42f8868c5da6b",
            "type": "sub-link-config",
            "name": "Resources",
            "clone": false
        }
    ]
}